@charset "UTF-8";

*{
    font-family: Arial, Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F29F05, #F27405);
}

main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px rgba(190, 54, 4, 0.555);
    padding: 10px;
    margin: auto;
}

h1{
    color: #03658C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

h2{
    color: #0388A6;
}

p{
    text-align: justify;

}